::-webkit-scrollbar {
    width: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    position:relative;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    font-family: 'Recursive', sans-serif;
    color:#9ea3a1;
    right: 0;
    transition: .5s ease-in-out;
}

body::before{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    content: "";
    z-index: 1000;
    background: url("../src/images/noise.gif");
    opacity: .04;
    pointer-events: none;
}

body.active{
    right: 260px;
}

header{
    position:fixed;
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 6rem;
    z-index: 1;
    transition: .3s ease-in-out;
}

header.scrolled{
    height: 3.5rem;
    backdrop-filter: blur(5px) brightness(90%);
}

main{
    box-shadow: 0 0 10px rgba(0,0,0, .5);
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    transition: .3s ease-in-out;
}
a:hover{
    color:#fff;
}

h2{
    font-family: 'Ms Madi', cursive;
    font-size: 4rem;
    color:#fff;
}

img{
    max-width: 100%;
    border-radius: 1rem;
}
button{
    border: none;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}
button:hover{
    color:#fff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
}

a.logo{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #F5CB5C;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px; 
    line-height: 4rem;
    transition: .3s ease-in-out;
}

a.logo:hover{
    text-shadow: 0 0 5px rgba(245, 203, 92, .5);
}

.hamburger_menu {
    cursor: pointer;
    color: white;
    width: 30px;
  }
  
.hamburger_menu:before,
.hamburger_menu:after,
.hamburger_menu div {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 5px 0;
    transition: 0.5s;
}
.hamburger_menu.active:before {
    transform: translateY(8px) rotate(135deg);
}
.hamburger_menu.active:after {
    transform: translateY(-8px) rotate(-135deg);
}
.hamburger_menu.active div {
    transform: scale(0);
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #202020;
}

.showcase{
    top:0;
    right: 0;
    background: url("../src/images/background_b.png") no-repeat top center / cover;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.title{
    font-family: 'Ms Madi', cursive;   
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

.description{  
    margin: 10px 0;
    padding: 0; 
    width: 50%;
    font-size: 1.5rem;
}

.btn{
    margin-top: 1rem; 
    padding: 0.6rem 1.8rem;
    background-color: #f5cb5c; 
    border: none; 
    border-radius: 25px;
    color: #fff; 
    text-transform: uppercase; 
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    box-shadow: 0 0 10px rgba(245, 203, 92, .5);
}

.contactme{
    font-size: 1rem;
    text-decoration: none;
    margin: 1.3rem 0 0 0;
    display: inline-block;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, #9ea3a1 0, white 10%, #9ea3a1 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
}
    
@keyframes shine{
  from {
    background-position: 0;
  }
  to{
    background-position: 121px;
  }
}

.contactme:hover{ 
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

.menu
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(50px);
    transition: .5s ease-in-out;
}
.menu.active{
    opacity: 1;
    transform: translateX(0px);
}
.menu ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: rgba(255,255,255, .5);
    transition: .3s ease-in-out;
}
.menu ul li a:hover
{
    color: rgba(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 255, 255, .5); 
}
.menu ul li a.active{
    color: rgba(245, 203, 92);
    text-shadow: 0 0 5px rgba(245, 203, 92, .5);
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 10px;
}

.avatar{
    max-height: 440px;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container p{
    margin: 0;
}

p.name{
    color: #fff;
    font-size: 3rem;
}

.redacted{
    position: relative;
    white-space: pre;
}

.redacted:after{
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
}

.carousel{
    padding: 1rem 0;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.carousel.hidden{
    display: none;
}

.carousel_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
}

.card {
    position: relative;
    height: 25rem;
    width: 16rem;
    perspective: 1000px;
  }
  .card_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 1rem;
    z-index: 2;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    overflow: hidden;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out;
  }
  .card_container:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background:
      linear-gradient(226deg,
        rgba(255,255,255,0.4) 0%,
        rgba(255,255,255,0.4) 35%,
        rgba(255,255,255,0.2) 42%,
        rgba(255,255,255,0) 60%);
    transform: translatey(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  .card:hover .card_container {
    transform: rotateX(7deg) translatey(-6px);
  }
  .card:hover .card_container:after {
    transform: translatey(0%);
  }
  .card:before {
    display: block;
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: skewx(0.001deg);
    transition: transform 0.35s ease-in-out,opacity 0.5s ease-in-out;
  }
  .card:hover:before {
    opacity: 0.6;
    transform: rotatex(7deg) translatey(-6px) scale(1.05);
  }

.card_container span.project_name{
    z-index:3;
}
.card_container span.project_description{
    z-index: 3;
}

.proj1{
    background: url("../src/images/proj1.png") no-repeat center/cover;
    background-size: 100%;
}

.proj2{
    background: url("../src/images/proj2.png") no-repeat center/cover;
    background-size: 100%;
}

.proj3{
    background: url("../src/images/proj3.png") no-repeat center/cover;
    background-size: 100%;
}

.wrapper{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper.hidden{
    display: none;
}

.projects{
    display: flex;
    overflow: hidden;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    width: 80%;
}

.project_container{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
}
.project_container.active_container{
    display: flex;
}
.project_container.hidden{
    display: none;
}

.project_info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    gap: 5px;
}

.project_view{
    display:flex;
    align-items: center;
    width: 60%;
}

span.project_name a{
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}
span.project_name a:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

span.project_description{
    font-size: 1.3rem;
}

.fa-solid, .fa-brands{
    cursor: pointer;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .5);
    transition: .3s ease-in-out;
}
.fa-solid, .fa-brands:hover{
    color:#fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

.code_container{
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.code_cards{
    display: grid;
    grid-template-areas: "html css" "html js";
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
}
.code_card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #242325;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
}
span.language{
    font-size: 1.1rem;
    color: white;
}
.code-header{
    margin: 1rem;
}
.code-content{
    margin: 1rem;
    color: #abb2bf;
}
span.c-r{
    color: #d56c60;
}
span.c-o{
    color: #c79a56;
}
span.c-g{
    color: #98c379;
}
span.c-c{
    color: #56b6c2;
}
span.c-b{
    color: #6596ce;
}
span.c-p{
    color: #b67da6;
}
span.c-y{
    color: #d5b288;
}

.html{
    grid-area: html;
}
.css{
    grid-area: css;
}
.js{
    grid-area: js;
}

.contacts_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 1rem;
}

.form-horizontal{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.form-field{
    width: 100%;
}

.form-control{
    width: 100%;
    max-width: 100%;
}
.form-control._error{
    box-shadow: 0 0 10px #F5CB5C;
}

input,textarea{
    background-color: #9ea3a1;
    border-radius: 5px;
}

.contact_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.contact_field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact_field a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact_field span{
    transition: .3s ease-in-out;
}

.contact_field span:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

footer{
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer p span{
    color:#F5CB5C;
}

._animated{
    transform: translateY(20px);
    opacity: 0;
}

._animated.showElement{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1.5s ease 0s;
}

@media only screen and (max-width: 450px){
    .title{
        font-size: 3rem;
    }
    .description{
        font-size: 1rem;
    }
    .btn{
        font-size: .7rem;
    }
    .contactme{
        font-size: .6rem;
    }
    @keyframes shine{
        from {
          background-position: 0;
        }
        to{
          background-position: 77px;
        }
      }
    footer{
        font-size: .7rem;
    }
    header{
        height: 3rem;
    }
    header.scrolled{
        height: 2rem;
    }
    .nav{
        width: 90%;
    }
    a.logo{
        font-size: 1.2rem;
    }
    .hamburger_menu {
        width: 15px;
    }
    .hamburger_menu:before,
    .hamburger_menu:after,
    .hamburger_menu div {
        height: 1px;
    }
    .hamburger_menu.active:before {
        transform: translateY(4px) rotate(135deg);
    }
    .about{
        flex-direction: column-reverse;
    }
    .avatar{
        height: 240px;
    }
    p.name{
        font-size: 2rem;
        align-self: center;
    }
    h2{
        font-size: 2rem;
    }
    .project_container{
        flex-direction: column;
    }
    .project_info{
        width: 100%;
    }
    .project_view{
        width: 100%;
    }
    span.project_description{
        font-size: 1rem;
    }
    .card{
        height: 18rem;
        min-width: 12rem;
    }
    .carousel_wrapper{
        justify-content: flex-start;
    }
    .contacts_container{
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
    }
    .contact_field a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px){
    .code_container{
        width: 90%;
    }
    .code_cards{
        display: flex;
    }
    .code_card{
        width: auto;
    }
}

@media only screen and (min-width: 1921px) {
    .title{
        font-size: 10rem;
    }
    .description{
        font-size: 3rem;
    }
    .btn{
        font-size: 2rem;
    }
    .contactme{
        font-size: 2rem;
    }
    @keyframes shine{
        from {
          background-position: 0;
        }
        to{
          background-position: 215px;
        }
      }
    h2{
        font-size: 4rem;
    }
    section{
        font-size: +2rem;
    }
    .avatar{
        max-height: 740px;
    }
}